body {
  margin: 0;

  padding: 30px;
  /* padding-top: 50px; */
  background-color: darkgray;
}

h1,
h2 {
  text-align: center;
}

img {
  display: block;
  width: 100%;
}

ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

/* header */

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  background-color: rgb(73, 22, 128);
}

/* background-images */
.container {
  display: flex;
  width: 1200px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.box {
  height: 250px;
  flex-basis: calc(100% / 2);
}

.box:nth-child(1) {
  background-color: blueviolet;
  background-image: url(../img/Fish-002.jpg);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}

.box:nth-child(2) {
  background-color: rgb(85, 43, 174);
  background-image: url(../img/Fish-005.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.box:nth-child(3) {
  background-color: rgb(75, 80, 231);
  background-image: url(../img/Fish-006.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.box:nth-child(4) {
  background-color: rgb(43, 55, 177);
  background-image: url(../img/Fish-007.jpg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.big-container.container {
  background-image: linear-gradient(
    to right,
    rgb(95, 198, 235),
    rgb(17, 100, 160)
  );
}

.big-box {
  height: 250px;
  flex-basis: calc(100% / 3);
}

.big-box:nth-child(1) {
  background-image: url(../img/Fish-001.jpg);
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.big-box:nth-child(2) {
  background-image: url(../img/Fish-003.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.big-box:nth-child(3) {
  background-image: url(../img/Fish-009.jpg);
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.midle-container {
  background-image: linear-gradient(
    to right,
    rgb(69, 199, 232),
    rgb(43, 55, 177)
  );
}

.midle-container .big-box {
  flex-basis: calc(100% / 2);
}

.midle-container .big-box:nth-child(1) {
  background-image: url(../img/Fish-008.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.midle-container .big-box:nth-child(2) {
  background-image: url(../img/Fish-010.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

/* content-images */

.wrap {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 15px;
  background-image: linear-gradient(
    rgb(69, 199, 232) 5%,
    rgb(62, 108, 209) 30%,
    blueviolet 65%,
    rgb(85, 43, 174)
  );
}

.thumb {
  height: 250px;
  flex-basis: calc(100% / 3 - 10px);
  text-align: center;
}

.dad {
  display: flex;
  width: 1200px;
  padding: 20px;
  gap: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  background-color: blueviolet;
}

.parent {
  height: 250px;
  flex-basis: calc((100% - 40px) / 3);
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* position & overflow */

article {
  position: relative;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  /* background: #91f0fc; */
  border-radius: 5px;
  overflow: hidden;
}

.flex-wrap {
  display: flex;
}
.social-item {
  padding: 5px;
}

.icon {
  color: rgb(28, 128, 243);
  background-color: transparent;
}

.social-item:hover .icon {
  color: #91f0fc;
}

.social-item:hover {
  background-color: rgb(28, 128, 243);
}

.icon > use {
  fill: currentColor;
}

.product-meta {
  padding: 15px;
  background: #91f0fc;
}

.product-name {
  text-align: left;
  margin-top: 0;
}

.thumb-fish-position {
  width: 360px;
  height: 250px;
  position: relative;
}

.thumb-fish-position::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 56, 122, 0.5);
  opacity: 0;
}

.fish-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-actions {
  position: absolute;
  top: 50%;
  left: 50%;
  outline: 2px solid red;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.5);

  opacity: 0;
}

.product:hover .product-actions,
.product:hover .thumb-fish-position::before {
  opacity: 1;
}

.flex-fish {
  justify-content: space-around;
}
